<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/404.css">

    </head>

    <body>
        <%-include('includes/navigation.ejs') %>
            <main class="bsod container">
                <h1 class="neg title"><span class="bg">Error - 404</span></h1>
                <p>An error has occured, to continue:</p>
                <!-- <p>* Create or Put your index.html page in ~/http/MyWebSite/d03</p> -->
                <p>* Return to our homepage.<br/> * Send us an e-mail about this error and try later.</p>
                <nav class="nav">
                    <a href="#" class="link">index</a>&nbsp;|&nbsp;<a href="#" class="link">@lkaba</a>
                </nav>
            </main>
            <script></script>
            <%-include('includes/end.ejs')%>